.timeline-wrapper {
  width: 100%;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  display: flex;
  padding: 1.2rem;
  background-color: #5940d4;
  .timeline-card {
    width: 20rem;
    padding: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease-in;
    img {
      width: 60px;
      border-radius: 10px;
    }
    &.active-timeline,
    &:hover {
      background-color: #a594fd;
      border-radius: 7px;
    }
  }
}
.info-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  .info-card {
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    line-height: 24px;
    width: 10rem;
  }
}

.bg-light-grey {
  background-color: #ebebeb;
  width: 100%;
  .inner-light {
    color: #fff !important;
    background-color: #4caf50 !important;
    height: 100%;
  }
}
