<div class="page-wrapper">
  <div class="left-panel">
    <div>
      <div>
        <h3>Duration Timeline</h3>
        <div class="timeline-wrapper">
          <div
            class="timeline-card"
            *ngFor="let item of ForecastPiece; let i = index"
            [ngClass]="{ 'active-timeline': selectedIndex === i }"
            (click)="switchIndex(i, item)"
          >
            <h6>{{ item?.name }}</h6>
            <h5>{{ item?.temperature | temperature }}</h5>
            <img [src]="item?.icon" />
          </div>
        </div>
      </div>
    </div>
    <div class="info-wrapper" *ngIf="selectedData">
      <div class="info-card">
        <h6>Dew Point</h6>
        <h4>{{ selectedData.dewpoint.value | number }} deg</h4>
      </div>
      <div class="info-card">
        <h4>Relative Humidity</h4>
        <h4>{{ selectedData.relativeHumidity.value }} deg</h4>
      </div>
      <div class="info-card">
        <h4>Wind Direction</h4>
        <h4>{{ selectedData.windDirection }}</h4>
      </div>
      <div class="info-card">
        <h4>Rain Chance</h4>
        <h4>{{ selectedData.probabilityOfPrecipitation.value ?? "N/A" }}</h4>
      </div>
    </div>
    <div style="width: 100%">
      <canvas id="line-chart" width="800" height="400"></canvas>
    </div>
  </div>
  <div class="right-panel">
    <ng-container *ngIf="selectedData">
      <div class="info-area">
        <div class="info-area-title">
          <h4>
            Kansas<br /><span class="temp-value">{{
              selectedData.temperature | temperature
            }}</span>
          </h4>
          <h4>{{ selectedData.name }}</h4>
        </div>
        <p>{{ selectedData.detailedForecast }}</p>
      </div>
    </ng-container>

    <div>
      <h3>Chance of Rain</h3>
      <ng-container *ngIf="ForecastPiece">
        <div class="chance-bar" *ngFor="let item of ForecastPiece">
          <small> {{ utils.extractTime(item.endTime) }}</small>
          <div class="bg-light-grey">
            <div
              class="inner-light"
              [style.width]="item.probabilityOfPrecipitation.value + '%'"
            ></div>
          </div>
          <small>
            {{
              item.probabilityOfPrecipitation.value
                ? item.probabilityOfPrecipitation.value + "%"
                : "N/A"
            }}</small
          >
        </div>
      </ng-container>
    </div>
  </div>
</div>
