<div class="page-wrapper" style="width: 100%; display: flex; height: 100vh">
  <div style="width: 65%; background-color: #ebebeb; padding: 1.5rem">
    <div>
      <!-- <h6>Current Temperature</h6> -->
      <div>
        <h3>Duration Timeline</h3>
        <div class="timeline-wrapper">
          <div
            class="timeline-card"
            *ngFor="let item of ForecastPiece; let i = index"
            [ngClass]="{ 'active-timeline': selectedIndex === i }"
            (click)="switchIndex(i, item)"
          >
            <h6>{{ item?.name }}</h6>
            <h5>{{ item?.temperature | temperature }}</h5>
            <img [src]="item?.icon" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="info-wrapper"
      style="
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
      "
    >
      <div
        class="info-card"
        style="
          background-color: aliceblue;
          padding: 1rem;
          border-radius: 10px;
          text-align: center;
          line-height: 24px;
          width: 10rem;
        "
      >
        <h6>Dew Point</h6>
        <h4>23degs</h4>
      </div>
      <div
        class="info-card"
        style="
          width: 10rem;
          background-color: aliceblue;
          padding: 1rem;
          border-radius: 10px;
          text-align: center;
          line-height: 24px;
        "
      >
        <h4>Relative Humidity</h4>
        <h6>67%</h6>
      </div>
      <div
        class="info-card"
        style="
          width: 10rem;
          background-color: aliceblue;
          padding: 1rem;
          border-radius: 10px;
          text-align: center;
          line-height: 24px;
        "
      >
        <h4>Wind Direction</h4>
        <h6>67%</h6>
      </div>
    </div>
    <div style="width: 100%">
      <canvas id="line-chart" width="800" height="400"></canvas>
    </div>
  </div>
  <div style="width: 35%; background-color: aqua; padding: 2rem">leaf</div>
</div>
